body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: 2px solid #333;
}