body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  margin: 0;
  height: 100vh;
}

.top-bar {
  margin: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: 2px solid #333;
}
.square {
  flex: 1 0 auto;
  box-sizing: border-box;
  border: 1px solid #ddd;
}